html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-header {
  font-family: 'Ultra', serif;
  padding: 2rem;
  background-color: #bd0017;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5rem solid black;
}

/* Site Logo - add a class? */
.site-header > :first-child {
  font-size: 7rem;
}

.site-header > nav {
  margin-right: 3%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main {
  background-color: white;
}

.main > :first-child {
  width: 100%;
  height: 100%;
}

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing .img-container{
  max-width: 60rem;
  /* Temp - find a better solution */
  min-width: 10rem;
}

.landing img {
  max-width: 100%;
  height: auto;
}

.landing-info {
  max-width: 70rem;
}

/* Menu ----------------------------- */

.menu-container h2 {
  text-align: center;
}

.menu-grid {
  padding: 0 8rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product:hover {
  transition: 1s;
  transform: scale(1.3);
}

.product h3 {
  margin: 0;
}

.img-ph {
  border: 1px dashed black;
  background-color: rgb(141, 110, 170);
  width: 15rem;
  height: 15rem;
}

.img-ph > * {
  width: 100%;
  height: 100%;
}

/* Contact ----------------- */

.contact-container {
  display: flex;
  gap: 2rem;
  padding: 4rem;
  flex-direction: column;
}

.site-footer {
  font-family: 'ultra', serif;
  color: white;
  border-top: 1.5rem solid black;
  padding: 2rem;
  background-color: #bd0017;
}
