html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'Libre Franklin', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 6rem;
}

h3 {
  font-family: 'Bangers', cursive;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-header {
  font-family: 'Ultra', serif;
  padding: 2rem;
  background-color: #bd0017;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5rem solid black;
}

/* Site Logo - add a class? */
.site-header > :first-child {
  font-size: 7rem;
}

.site-header > nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main {
  background-color: white;
}

.main > :first-child {
  width: 100%;
  height: 100%;
}

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing .img-container{
  max-width: 60rem;
  /* Temp - find a better solution */
  min-width: 10rem;
}

.landing img {
  max-width: 100%;
  height: auto;
}

.landing-info {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.4rem;
  max-width: 70rem;
}

/* Menu ----------------------------- */

/* .menu-container h2::before, .menu-container h2::after {
  content: ' ----------------- ';
} */

.menu-container h2 {
  text-align: center;
}

.menu-grid {
  padding: 0 8rem;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product:hover {
  transition: 1s;
  transform: scale(1.3);
}

.product h3 {
  margin: 0;
  text-align: center;
  font-family: 'Bangers';
}

.img-ph {
  width: 20rem;
  height: 20rem;
}

.img-ph > * {
  width: 100%;
  height: 100%;
}

/* Contact ----------------- */

.contact-container {
  display: grid;
  gap: 2rem;
  padding: 4rem;
  grid-template-areas:
  'header header'
  'phone map'
  'mail map'
  'nil map'
  ;
}

.contact-container > h2 {
  grid-area: header;
}

.contact-container > :nth-child(2) {
  grid-area: phone;
}

.contact-container > :nth-child(3) {
  grid-area: mail;
}

.contact-container > :nth-child(4) {
  grid-area: map;
}


.site-footer {
  font-family: 'ultra', serif;
  color: white;
  border-top: 1.5rem solid black;
  padding: 2rem;
  background-color: #bd0017;
}
